body{
	margin: 0;
	 padding: 0;
     background-image: linear-gradient(rgba(0,0,0, 0.75),rgba(0,0,0,0.75)),url(homepage.png);
     background-size:cover;
     background-position: center;
    font-family: sans-serif;
}
.a{
    background-color: lightblue;
}
.hero-section {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:4rem;
    color: white;
}
.about-section{
    text-align: center;
}
.about-title{
    color:white;
}
.cards{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.cards .left, .cards .right {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.left .card, .right .card{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.contact-section{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
footer{
    text-align: center;
    margin-top: 10px;
    color: white;
}
#contact {
    cursor: pointer;
}
#about{
    cursor: pointer;
}